@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for webkit browsers - can be placed here or in popup.html style tag */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* dark:bg-slate-800 does not work here reliably, manage through JS or specific body class */
}
.dark ::-webkit-scrollbar-track {
  background: #2d3748; /* Example dark track color */
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #333;
}
